rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow anyone to read or write to any document
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
